[Unit]
Description=Team Seven node.js app

[Service]
ExecStart=/home/tastebuz/TeamSeven/app/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/tastebuz/TeamSeven/app/

[Install]
WantedBy=multi-user.target