<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Team Seven</title>

	<!-- jQuery-ui -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/sb-admin.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body ng-app="Workout" , ng-controller="WorkoutCtrl">

	<div id="wrapper">

		<% include sidebar %>

			<div id="page-wrapper">
				<div class="container-fluid">
					<!-- Overview interface -->
					<div class="panel panel-default" ng-show="overview">
						<div class="panel penal-default" ng-repeat="workout in workouts">
							<h3>{{workout.name}}</h3>
							<ul>
								<li ng-repeat="exercise in workout.exercises">
									{{exercise.name}}
								</li>
							</ul>
							<button ng-click="editWorkout($index)">Edit</button>
							<button class="btn btn-default" ng-click="removeWorkout(workout)">Remove</button>
							<a ng-href="/perform?wid={{workout.id}}" class="btn btn-default" ng-if="workout.id != null">Perform</a>
							<a ng-href="/history#?wid={{workout.id}}" class="btn btn-default" ng-if="workout.id != null">History</a>

						</div>
						<button type="button" class="btn btn-default" ng-click="newWorkout()"> + Custom Workout</button>
					</div>
					<!-- Editing interface -->
					<div class="panel panel-default" ng-hide="overview">
						<button ng-click="doOverview()">Back</button>
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">Workout Name: </span>
							<input type="text" class="form-control" placeholder="Leg Day" aria-describedby="basic-addon1" ng-model="workout.name" ng-blur="modify(workouts[wIndex])">
						</div>
						<div class="panel-body">
							<button class="btn btn-default" ng-click="toggleEdit()">Toggle Edit</button>
							<ul ui-sortable="sortableOptions" ng-model="workout.exercises">
								<div ng-repeat="exercise in workout.exercises">
									<div class="row" ng-if="exercise.type == 'Interval' ">
										<form class="form-horizontal">
											<div class="form-group col-xs-3">
												<label for="exerciseName">Name</label>
												<input type="text" class="form-control" id="exerciseName" ng-model="exercise.name" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<label for="numSets">Sets</label>
												<input type="number" pattern="[0-9]" class="form-control" id="numSets" ng-model="exercise.data.sets" placeholder="3" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<label for="intervalTime">Interval</label>
												<input type="text" class="form-control" id="intervalTime" ng-model="exercise.data.time" placeholder="145" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">

												<button class="btn btn-default" ng-click="removeExercise(workouts[wIndex],exercise)">Remove</button>
											</div>

										</form>
									</div>
									<div class="row" ng-if="exercise.type == 'Reps' " id="exerciseInputBlock">
										<form class="form-horizontal">
											<div class="form-group col-xs-3">
												<label for="exerciseName2">Name</label>
												<input type="text" class="form-control" id="exerciseName2" ng-model="exercise.name" placeholder="Front Squat" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<label for="numSets2">Sets</label>
												<input type="number" class="form-control" id="numSets2" ng-model="exercise.data.sets" placeholder="3" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<label for="numReps">Reps</label>
												<input type="number" class="form-control" id="numReps" ng-model="exercise.data.reps" placeholder="5" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<label for="startWeight">Weight</label>
												<input type="text" class="form-control" id="startWeight" ng-model="exercise.data.weight" placeholder="145" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group col-xs-1"></div>

											<div class="form-group col-xs-2">
												<p>
													<br>
												</p>
												<button class="btn btn-default" ng-click="removeExercise(workouts[wIndex],exercise)">Remove</button>
											</div>
									</div>

								</div>
							</ul>
							<br>
							<div class="activitySelect">
								<select class="form-control" id="dropdown" ng-model="selectionType">
									<option>Interval</option>
									<option>Reps</option>
								</select>
								<button type="button" class="btn btn-default" ng-click="newExercise(workout, selectionType)"> + Add Exercise</button>
							</div>
							<button type="button" class="btn btn-default" ng-click="saveWorkouts()">Save Workout</button>
						</div>
					</div>
					<!-- workout creation -->
					<p>{{serverMsg}}</p>

				</div>

			</div>
			<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- jQuery-ui -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

	<!-- sortable-ui -->
	<script type="text/javascript" src="js/sortable.min.js"></script>


	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>




</body>
<script src="js/exercises.js"></script>

</html>
