<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Lookin' MEAN today</p>
        <h2>This is a login form</h2>
        <form method="post" action="login">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login">
        </form>
        <h2>This is a register form</h2>
        <form method="post" action="register">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Register">
        </form>
        <h2><%= message %></h2>
        <% if(loggedin) { %>
            <a href="upage">User Area</a>
            <form method="post" action="logout">
                <input type="submit" value="Logout">
            </form>
        <% } %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    </body>
</html>
