<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="/">

        <title>upLift</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/perform.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/sb-admin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="css/perform.css" rel="stylesheet">
    </head>
    <body ng-app="performer">
        <div id="wrapper">
            <% include sidebar %>
            <div class="panel panel-default">
                <div ng-controller="performance">

            			<div class="panel-heading">
            				<h3 class="panel-title">{{workout.name}}</h3>
            			</div>

                        <div class="panel-body">
                            <div ng-repeat="exercise in workout.exercises" ng-show="stageCheck(exercise)" class="animate-show">
                                <h3>{{exercise.name}}</h3>

                                <div class = "exerciseBlock" ng-if="exercise.type == 'Interval'">
                                    <p ng-if="!exercise.last.avail">Your goal is {{exercise.data.sets}} sets in {{exercise.data.time}} time</p>
                                    <p ng-if="exercise.last.avail">Your last best time was {{getBestInterval(exercise.last.data)}} time</p>

                                    <div class="stopwatch">
                                    <div class="clock"><i class="fa fa-clock-o fa-5x blaq" aria-hidden="true"></i> <h1>{{sMinutes}}:0{{sSeconds}}.{{stSeconds}}{{shSeconds}}</h1></div>



                                    <div class="btn-toolbar exerciseInput" role="toolbar" aria-label="Toolbar with button groups">
                                      <div class="btn-group" role="group" aria-label="First group">
                                        <button type="button" class="btn btn-secondary btn-lg" ng-click="startStopwatch()"><i id="middle" class="fa fa-play blaq" aria-hidden="true"></i></button>

                                        <button type="button" class="btn btn-secondary btn-lg" ng-click="stopStopwatch(exercise.performances)"><i id="middle" class="fa fa-stop blaq" aria-hidden="true"></i></button>

                                        <button type="button" class="btn btn-secondary btn-lg" ng-click="resetStopwatch()"><i id="middle" class="fa fa-undo blaq" aria-hidden="true"></i></button>

                                      </div>
                                    </div>
                                    </div>

                                    <div ng-repeat="i in getNumber(exercise.data.sets)">
                                        <div class="input-group exerciseInput">
                                            <span class="input-group-addon" ng-attr-id="'set-desc-' + {{i}}">Set {{i+1}}</span>
                                            <input type="number" class="form-control" ng-model="exercise.performances[i].time" placeholder="Seconds" ng-attr-aria-describedby="'set-desc-' + {{i}}">
                                        </div>
                                    </div>
                                </div>

                                <div class = "exerciseBlock" ng-if="exercise.type == 'Reps'">
                                    <p ng-if="!exercise.last.avail">Your goal is {{exercise.data.sets}} sets of {{exercise.data.reps}} reps with {{exercise.data.weight}} <%=units%>.</p>

                                    <p ng-if="exercise.last.avail">Last time you did {{exercise.last.data.reps}} sets of {{exercise.last.data[0].reps}} reps with {{exercise.last.data[0].weight}} <%=units%>.</p>

                                    <div ng-repeat="i in getNumber(exercise.data.sets)">
                                        <div class="input-group exerciseInput">
                                            <span class="input-group-addon" ng-attr-id="'set-desc-' + {{i}}">Set {{i+1}}</span>
                                            <input type="number" class="form-control" ng-model="exercise.performances[i].reps" placeholder="Reps">
                                            <input type="number" class =  "form-control" ng-model="exercise.performances[i].weight" placeholder="<%=units%>">
                                        </div>
                                    </div>

                                </div>

                                <button id="floatRight" class="btn btn-success" ng-click="addPerformance(exercise)">Next <i class="whiteW fa fa-arrow-right" aria-hidden="true"></i></button>

                            </div>
                            <div ng-show="isDone()">
                                <p>You're all done!</p>
                                <a onclick="window.location = '/workouts'">Return to workouts</a>
                            </div>
            			</div>
            		</div>
            </div>
        </div>
    </body>
</html>
