<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="/">

        <title>Team Seven</title>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>
        <script src="js/perform.js"></script>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/sb-admin.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link href="css/perform.css" rel="stylesheet">
    </head>
    <body ng-app="performer">
        <div id="wrapper">
        <% include sidebar %>
            <div class="panel panel-default">
                <div ng-controller="performance">
                    <div class="panel panel-default">
            			<div class="panel-heading">
            				<h3 class="panel-title">{{workout.name}}</h3>
            			</div>
            			<div class="panel-body">
                            <p>{{serverMsg}}</p>
                            <div ng-repeat="exercise in workout.exercises" ng-show="stageCheck(exercise)" class="animate-show">
                                <h4>{{exercise.name}}</h4>
                                <div ng-if="exercise.type == 'Interval'">
                                    <p ng-if="!exercise.last.avail">Your goal is {{exercise.data.sets}} sets in {{exercise.data.time}} time</p>
                                    <p ng-if="exercise.last.avail">Your last best time was {{getBestInterval(exercise.last.data)}} time</p>
                                    <h3>Stopwatch</h3>
                                    <p>{{sMinutes}}:0{{sSeconds}}.{{stSeconds}}{{shSeconds}}</p>
                                    <button ng-click="startStopwatch()">Start</button>
                                    <button ng-click="stopStopwatch(exercise.performances)">Stop</button>
                                    <button ng-click="resetStopwatch()">Reset</button>
                                    <div ng-repeat="i in getNumber(exercise.data.sets)">
                                        <div class="input-group">
                                            <span class="input-group-addon" ng-attr-id="'set-desc-' + {{i}}">Set {{i+1}}</span>
                                            <input type="number" class="form-control" ng-model="exercise.performances[i].time" placeholder="Actual time" ng-attr-aria-describedby="'set-desc-' + {{i}}">
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="exercise.type == 'Reps'">
                                    <p ng-if="!exercise.last.avail">Your goal is {{exercise.data.sets}} sets of {{exercise.data.reps}} reps with {{exercise.data.weight}} weight</p>
                                    <p ng-if="exercise.last.avail">Last time you did {{exercise.last.data.reps}} sets of {{exercise.last.data[0].reps}} reps with {{exercise.last.data[0].weight}} weight</p>
                                    <div ng-repeat="i in getNumber(exercise.data.sets)">
                                        Set {{i+1}}
                                        <input type="number" ng-model="exercise.performances[i].reps" placeholder="Actual reps">
                                        <input type="number" ng-model="exercise.performances[i].weight" placeholder="Actual Weight">
                                    </div>
                                </div>
                                <button class="btn btn-default" ng-click="addPerformance(exercise)">Submit Performance</button>
                            </div>
                            <div ng-show="isDone()">
                                <p>You're all done!</p>
                                <a onclick="window.location = '/workouts'">Return to workouts</a>
                            </div>
            			</div>
            		</div>
                </div>
            </div>
        </div>
    </body>
</html>
