<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>upLift</title>

	<!-- jQuery-ui -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<!-- Bootstrap Core CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="css/sb-admin.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">


	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- jQuery-ui -->
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.min.js"></script>

	<!-- sortable-ui -->
	<script type="text/javascript" src="js/sortable.min.js"></script>


	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/workouts.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body ng-app="Workout" , ng-controller="WorkoutCtrl">

	<div id="wrapper">

		<% include sidebar %>

			<div id="page-wrapper">
				<div class="container-fluid">
					<div class="col-md-12">


					<!-- Overview interface -->
					<h4>Workouts</h4>
					<div class = "overview" ng-show="overview">
						<div class="chartPanel" ng-repeat="workout in workouts">
							<div class="workoutName"><h4>{{workout.name}}<h4></div>
							<div class="info">

							<div class="exerciseList" ng-repeat="exercise in workout.exercises"> {{exercise.name}} x{{exercise.data.sets}} &nbsp;</div>

							</div>

							<div class="buttonBar">
							<i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" ng-click="editWorkout($index)"></i>
							<a ng-href="/history#?wid={{workout.id}}" ><i class="fa fa-line-chart fa-2x" aria-hidden="true" ng-if="workout.id != null"></i></a>

							<a ng-href="/perform#?wid={{workout.id}}" ng-if="workout.id != null"><i class="fa fa-play-circle-o fa-2x" aria-hidden="true" ></i></a>
							<i class="fa fa-trash-o fa-2x" aria-hidden="true" ng-click="removeWorkout(workout)" ></i>
							</div>

						</div>
						<div class="chartPanel addWorkout" ng-click="newWorkout()">
						Add Workout <div id="floatRight">+</div>
						</div>
					</div>



					<!-- Editing interface -->
					<div ng-hide="overview">

						<div class ="backLink" ng-click="doOverview()"><i class="fa fa-arrow-left" aria-hidden="true"></i>Back </div>

						<input type="text" class="form-control titleName" placeholder="Leg Day" aria-describedby="basic-addon1" ng-model="workout.name" ng-blur="modify(workouts[wIndex])">


						<div class="overview">
							<ul ui-sortable="sortableOptions" ng-model="workout.exercises">
								<div ng-repeat="exercise in workout.exercises">

									<div class="chartPanel" ng-if="exercise.type == 'Interval' ">
										<form class="form-inline">


											<div class="form-group">
											<label for="exerciseName">Name</label>
											<input type="text" class="form-control" id="exerciseName" ng-model="exercise.name" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group">
											<label for="numSets">Sets</label>
											<input type="number" pattern="[0-9]" class="form-control small" id="numSets" ng-model="exercise.data.sets" placeholder="3" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group">
											<label for="intervalTime">Interval</label>
											<input type="text" class="form-control small" id="intervalTime" ng-model="exercise.data.time" placeholder="145" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

										</form>

										<i class="fa fa-times fa-2x" id="floatRight" aria-hidden="true" ng-click="removeExercise(workouts[wIndex],exercise)"></i>

									</div>

									<div class="chartPanel" ng-if="exercise.type == 'Reps' " id="exerciseInputBlock">
										<form class="form-inline">

											<div class="form-group">
											<label for="exerciseName2">Name</label>
											<input type="text" class="form-control" id="exerciseName2" ng-model="exercise.name" placeholder="Front Squat" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group">
											<label for="numSets2">Sets</label>
											<input type="number" class="form-control small" id="numSets2" ng-model="exercise.data.sets" placeholder="3" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group">
											<label for="numReps">Reps</label>
											<input type="number" class="form-control small" id="numReps" ng-model="exercise.data.reps" placeholder="5" ng-blur="modify(exercise)" ng-disabled="editingOff">
											</div>

											<div class="form-group">
											<label for="startWeight">Weight</label>
											<input type="text" class="form-control small" id="startWeight" ng-model="exercise.data.weight" placeholder="145" ng-blur="modify(exercise)" ng-disabled="editingOff">
											<%=units%>
											</div>

										</form>

										<i class="fa fa-times fa-2x" id="floatRight" aria-hidden="true" ng-click="removeExercise(workouts[wIndex],exercise)"></i>
									</div>
								</div>
							</ul>

						<div class="chartPanel addWorkout2">
						<select class="form-control" id="dropdown" ng-model="selectionType">
							<option>Interval</option>
							<option>Reps</option>
						</select>
						<button type="button" class="btn btn-secondary" ng-click="newExercise(workout, selectionType)"> + Add Exercise </button>
						</div>

						<br>

							<button type="button" class="btn btn-success" ng-click="saveWorkouts()">Save Workout</button>
						</div>
					</div>
					<!-- workout creation -->


				</div>

				</div>

			</div>
			<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

</body>
</html>
